.icon-deck {
	background-image: url(../img/deck-dark.svg);
	filter: var(--background-invert-if-dark);
}

.icon-deck-white, .icon-deck.icon-white {
	background-image: url(../img/deck.svg);
	filter: var(--background-invert-if-dark);
}

/* Add horizontal scrollbar for tables in card descriptions */
.card-description table {
	width: 100%; /* Ensure the table takes 100% width of the container */
	overflow-x: auto; /* Enable horizontal scrolling */
}