/**
 * Custom icons
 */
@include icon-black-white('deck', 'deck', 1);
@include icon-black-white('archive', 'deck', 1);
@include icon-black-white('circles', 'deck', 1);
@include icon-black-white('clone', 'deck', 1);
@include icon-black-white('filter', 'deck', 1);
@include icon-black-white('filter_set', 'deck', 1);
@include icon-black-white('attach', 'deck', 1);
@include icon-black-white('reply', 'deck', 1);
@include icon-black-white('notifications-dark', 'deck', 1);
@include icon-black-white('description', 'deck', 1);

.icon-toggle-compact-collapsed {
	@include icon-color('toggle-view-expand', 'deck', $color-black);
}

.icon-toggle-compact-expanded {
	@include icon-color('toggle-view-collapse', 'deck', $color-black);
}
.icon-activity {
	@include icon-color('activity-dark', 'activity', $color-black);
}
.icon-comment--unread {
	@include icon-color('comment', 'actions', $color-primary, 1, true);
}

.avatardiv.circles {
	background: var(--color-primary);
}

.icon-circles {
	opacity: 1;
	background-size: 20px;
	background-position: center center;
}

.icon-colorpicker {
	background-image: url('../img/color_picker.svg');
}
