/**
 * Custom icons
 */
.icon-deck {
  background-image: url('../img/deck-dark.svg');
}

.icon-group {
  background-image: url('../../../settings/img/users.svg');
}

.icon-help {
  background-image: url('../../../settings/img/help.svg');
}

.icon-add-white {
  background-image: url('../img/add-white.svg');
}

.icon-archive {
  background-image: url('../img/archive.svg');
}

.icon-archive-white {
  background-image: url('../img/archive-white.svg');
}

.icon-details {
  background-image: url('../img/details.svg');
}

.icon-details-white {
  background-image: url('../img/details-white.svg');
}

.icon-home {
  background-image: url('../../../core/img/places/home.svg');
  background-image: var(--icon-home-000);
}

.icon-description {
  background-image: url('../img/description.svg');
  background-image: var(--icon-text-000);
}

.icon-badge {
  background-image: url('../img/calendar-dark.svg');
}

.icon-toggle-compact-collapsed {
  background-image: url('../img/toggle-view-expand.svg');
}

.icon-toggle-compact-expanded {
  background-image: url('../img/toggle-view-collapse.svg');
}

@if mixin-exists('icon-black-white') {
	@include icon-black-white('deck', 'deck', 1);
	@include icon-black-white('archive', 'deck', 1);
	
	.icon-toggle-compact-collapsed {
		@include icon-color('toggle-view-expand', 'deck', $color-black);
	}

	.icon-toggle-compact-expanded {
		@include icon-color('toggle-view-collapse', 'deck', $color-black);
	}
	.icon-activity {
		@include icon-color('activity-dark', 'activity', $color-black);
	}
}
