/**
 * Custom icons
 */
.icon-deck {
  background-image: url('../img/deck-dark.svg');
}

.icon-group {
  background-image: url('../../../settings/img/users.svg');
}

.icon-help {
  background-image: url('../../../settings/img/help.svg');
}

.icon-add-white {
  background-image: url('../img/add-white.svg');
}

.icon-archive {
  background-image: url('../img/archive.svg');
}

.icon-archive-white {
  background-image: url('../img/archive-white.svg');
}

.icon-details {
  background-image: url('../img/details.svg');
}

.icon-details-white {
  background-image: url('../img/details-white.svg');
}

.icon-home {
  background-image: url('../../../core/img/places/home.svg');
}

.icon-description {
  background-image: url('../img/description.svg');
}

.icon-badge {
  background-image: url('../img/calendar-dark.svg');
}

.icon-toggle-compact-collapsed {
  background-image: url('../img/toggle_view_expand.svg');
}

.icon-toggle-compact-expanded {
  background-image: url('../img/toggle_view_collapse.svg');
}
