// maybe keep those just for nc11/12 support?
.app-navigation-entry-utils {
  .app-navigation-entry-utils-menu-button {
    display: block !important; // TODO: is this needed?
  }

  .app-navigation-entry-utils-menu-share {
    display: flex !important;
    padding: 14px;
    opacity: 0.5;
  }
}
.app-navigation-entry-menu ul {
  flex-direction: row;
}