.app-navigation-entry-utils-menu-button {
	display: block !important;
}
#app-navigation .app-navigation-entry-edit {
	height: auto;
}
.board-bullet {
    position: absolute;
    margin-left: 17px;
    margin-top: 16px;
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#board-status {
	position:absolute;
	z-index:999;
	width:100%;
	height:100%;
	background-color:#fff;
}
#board {
	position: relative;
	height:100%;
	white-space: nowrap; /* important */
	overflow: auto;
	background-color:#ffffff;

	padding:0;
}
#board #innerBoard {
	padding:10px;
	margin-top:40px;

}
#board h1 {
	font-size:14pt;
	margin-bottom:10px;
	padding:10px;
	position: fixed;
	width:100%;
	color: #333333;
	padding-right:250px;
	z-index:100;
	background-color:#f7f7f7;
}
#board-actions {
	position:absolute;
	right:5px;
	top:5px;
	z-index:999;
}
#board-actions .filter {
	margin-left:10px;
	margin-right:10px;
	position:relative;
}
#board-actions .filter:hover {
	color:#333333;
	cursor: pointer;
}

.filter .filter-select {
	position: absolute;
	top: 42px;
	right: -15px;
	width: 100px;
}
.filter .filter-select li {
	padding: 3px;
	overflow: hidden;
	width:auto;
}
.filter .filter-select li span {
	display: block;
	float: left;
	width: 20px;height:20px;
	margin-right:5px;
}
#board-actions div {
	padding:5px;
	float:left;
}
.board-actions button {
	border: none;
	background-color: transparent;
	color: #fff;
}
.stack {
	width:320px;
	margin-right:10px;
	vertical-align: top;
  	display:inline-block !important;
}
.stack h2 {
	padding: 5px;
	padding-bottom:3px;
	margin: 0;
	font-size:12pt;
	font-weight:700;
	overflow:hidden;
}
.stack h2 input {
	padding: 0px;
	width:90%;
	padding-bottom:3px;
	margin: 0;
	font-size:12pt;
	font-weight:700;
	border: 0;
	background-color: transparent;
	float:left;
}
.stack h2 button,
.stack .stack-actions{
	float:right;
}
.stack h2 span {
	float: left;
	margin-bottom:3px;
}
.stack h2 .stack-actions {
	display: none;
}
.stack h2:hover .stack-actions {
	display: inline-block;
	float:right;
}
.card {
	background-color:#f6f6f6;
	margin:5px;
	white-space: normal;
	padding-bottom:4px;
	position: relative;
	opacity: 1.0;
}
.card-upper {
	overflow: hidden;
	position: relative;
	padding:5px;
}
.card .card-options {
	position: absolute;
	bottom: 10px;
	right:10px;
}
.card .popovermenu {
	z-index:999;
	opacity: 1;
	margin-left: 10px;
}

.card .card-assignees {
	margin:5px;
}
.card:hover {
	background-color:#fcfcfc;
}
.card a {
  display:block;
}
.card h3 {
	font-weight:bold;
	font-size:10pt;
	margin:0;
	padding:0;
	margin-bottom:-5px;
	margin-top:15px;
	display: inline-block;
	float:left;
}
.card h3 .fa {
	font-size:18pt;
	line-height:10pt;
	vertical-align: middle;
}
.card .labels {
	position: absolute;
	top:-5px;
	left:5px;

}
.card .labels li {
	padding:0px;
	width:15px;
	height:20px;
	-webkit-border-radius: 3px;
	font-size:80%;
	border-color: transparent;
	border:none;
	float:left;
}
.card .labels li span {
	display: none;
}
.card .labels li:hover {

}
.card .labels li:hover span {
	position:absolute;
	padding:3px;
	background-color: inherit;
}

.as-sortable-placeholder {
	margin:5px;
	margin-bottom:5px;
	border: 1px dashed #aaa;
}


.info {
	padding-left:5px;
	padding-right:5px;
	display: inline-block;
	color:#aaa;
}
.info i {
	margin-left:2px;
}
.info span {
	margin-right:2px;
}

.card.create {
	text-align:center;
	margin:0;
	padding:0;
	padding-top:4px;
	border: none;
	overflow:hidden;
}
.card.create:hover {
	text-align:center;
	opacity: 1;
}
.card.create h3 {
	margin:0;
	padding:0;
	width: 100%;
}
.card.create h3 input {
	width:100%;
	border:0px;
	padding:0px;
	margin:0px;
	font-weight:bold;
	font-size:10pt;
	margin:0;
	padding:0;
	border-bottom:1px solid #ffffff;
	border-radius: 0px;
	color: #ffffff;
	background-color: transparent !important;
}
.card.create .fa {
	color:#ffffff;
	width:100%;
}
.card.create .fa:hover {
	opacity: 0.5;
	cursor: pointer;
}
.due {
	background-color:#eee;
	color:#aaa;
	padding:1px;
	padding-left:3px;
	padding-right:3px;
	border-radius: 4px;
	margin-right:2px;
}


#card-header {
}
#card-header h2 {
	font-weight:600;
	padding:10px;
	overflow: hidden;
	margin-bottom:0px;
	background-color:#f0f0f0;
}
#card-header .icon-close {
	position: absolute;
	top:5px;
	right:5px;
}
#card-meta {
	padding-top:0px;
}
#card-dates {
	font-size:80%;
	color: #aaaaaa;
	margin-bottom: 3px;
}
#card-dates span {
}

#card-description textarea {
	width:100%;
	height:200px;
	border: none;
	margin: 10px;
}
#card-attachments,
.card-block {
	padding:10px;
}
#card-attachments .details {
	font-size:8pt;
	padding-left:15px;
}
#app-sidebar
{
	right: -500px;
	max-width: 100%;
	border-left: none;
	width:500px;
	box-shadow: 0px 0px 5px 0px #aaa;

}
#app-sidebar.details-visible {
	right: 0px;
}
#app-content.details-visible {
	margin-right: 500px;
}
.labels {
	display:block;
	overflow:hidden;
}
.labels li {
	padding:1px;
	-webkit-border-radius: 3px;
	margin:1px;
	float:left;
	color: #ffffff;
	font-size:80%;
	font-weight:900;
}
#assigned-users {
	padding:10px;
	padding-top:0;
}
.avatardiv {
	float:left;
	margin-right:5px;
}

/* color selector */

.colorselect .color {
	opacity:0.7;
	width:27px;
	height:27px;
	float:left;
	margin-right:1px;
	border:1px solid #ffffff;
}

.colorselect .selected {
	opacity:1.0;
	border:1px solid #333333;

}

#boardlist {

}
#boardlist td .board-bullet {
	width:30px;
	height:30px;
	margin-top: -15px;
}
#boardlist td {
	padding:10px;
	border-bottom:1px solid #eee;
}

#boardlist span.icon {
	width:30px;
	height:30px;
	display:inline-block;
}
.cell-board-bullet {
	width:60px;
}

.cell-board-title {
	width:50%;

}

#boardlist .colorselect,
#boardlist input {
	float:left;
}
#boardlist .colorselect {margin-top:5px;}

input.input-inline {
	font-size: inherit !important;
	font-weight: inherit;
	background-color:transparent;
	padding:0;
	margin:0;
	border:none;
	width:100%;
	border-bottom:1px solid #333333;
	-webkit-border-radius: 0;
	margin-top:-4px;
	line-height:100%;
	margin-bottom: -4px;

}

button {
	border:0;
	background-color: transparent;
}
button:hover {
	border:0;
	background-color: transparent;
}