node_modules/*
js/*deck.js
js/*deck.js.map

js/node_modules/*
js/vendor/
js/public/
js/build/
build/
css/style.css
css/vendor.css
tests/integration/vendor/
tests/integration/composer.lock
vendor/
*.lock

\.idea/
