node_modules/*
js/
build/
css/style.css
css/vendor.css
cypress/videos/
tests/integration/vendor/
tests/.phpunit.result.cache
vendor/
.php_cs.cache
\.idea/
settings.json

### Claude Code ###
CLAUDE.md
claude.log

# OS-Files
# Created by https://www.toptal.com/developers/gitignore/api/windows,linux,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,linux,visualstudiocode
### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
# End of https://www.toptal.com/developers/gitignore/api/linux,windows,visualstudiocode
