<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="../../../tests/bootstrap.php" colors="true" convertDeprecationsToExceptions="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./../lib</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="unit">
      <directory>./unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
