.fade-enter-active {
	transition: opacity 250ms;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

.zoom-appear-active-class,
.zoom-enter-active {
	animation: zoom-in var(--animation-quick);
}

.zoom-leave-active {
	animation: zoom-in var(--animation-quick) reverse;
	will-change: transform;
}
@keyframes zoom-in {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
