/**
 * SPDX-FileCopyrightText: 2023 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.selector-wrapper {
	display: flex;
	max-width: 100%;
	margin-top: 10px;

	&--icon {
		width: 38px;
		padding-top: 12px;
		flex-shrink: 0;
	}

	&--selector {
		width: 100%;
	}

	&--content {
		display: flex;
		flex-grow: 1;
	}
}
