/*!
 * SPDX-FileCopyrightText: 2020 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
 $card-min-width: 216px;
 $card-max-width: 300px;
 $card-padding: calc(var(--default-grid-baseline) * 2) calc(var(--default-grid-baseline) * 2) var(--default-grid-baseline);
 $card-gap: calc(var(--default-grid-baseline) * 3);
 $card-image-margin: calc(var(--default-grid-baseline) * -2);
 $stack-gap: calc(var(--default-grid-baseline) * 3);
 $board-gap: calc(var(--default-grid-baseline) * 4);
